* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  height: 1rem;
}

body {
  background: url(https://source.unsplash.com/iyuwZUE_BM4);
  font-family: arial;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

main {
  font-family: arial;
  margin: 1rem;
  padding: 2rem;
}

nav {
  list-style-type: none;
  float: left;
}

#headerP {
  font-family: arial;
  color: #222;
  font-size: 24px;
  margin: 15px;
}

nav ul li {
  background-color: white;
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-family: arial;
  color: #222;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 180px;
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 8px 14px;
}

nav ul li ul li a:hover {
  background-color: #f3f3f3;
}

#laura {
  border-radius: 99rem;
  height: 6rem;
  margin-left: 25px;
}

#myname {
  margin-left: 25px;
}

#container_menu {
  background-color: rgb(252, 158, 17, 0.735);
  max-width: 1000px;
  min-width: 400px;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#container_0 {
  background-color: black;
  color: white;
  object-fit: center;
  max-width: 1000px;
  min-width: 400px;
  padding: 50px;
  margin: 0 auto;
}

.mySlides {
  display: none;
}

#slide1 {
  display: block;
}

#container_1 {
  background-color: rgb(63, 26, 63, 0.735);
  color: white;
  object-fit: center;
  max-width: 1000px;
  min-width: 400px;
  padding: 50px;
  margin: 0 auto;
}

#container_2 {
  background-color: rgba(165, 44, 127, 0.735);
  color: white;
  object-fit: center;
  max-width: 1000px;
  min-width: 400px;
  padding: 50px;
  margin: 0 auto;
}

#container_3 {
  background-color: rgb(249, 118, 47, 0.735);
  color: white;
  object-fit: center;
  max-width: 1000px;
  min-width: 400px;
  padding: 50px;
  margin: 0 auto;
}

#contact_links a {
  color: white;
}

footer {
  height: 5rem;
  background-color: black;
  padding: 10px;
  color: white;
  position: relative;
}

/*some button-styling from w3schools:*/

#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: orange;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
